
<div class="control-group">
	<label class="control-label" for="inputName">Name</label>
	<div class="controls">
		<f:form.textfield property="name" id="imputName" additionalAttributes="{placeholder:'Name'}" />
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="inputDescription">Description</label>
	<div class="controls">
		<f:form.textfield property="description" id="inputDescription" additionalAttributes="{placeholder:'Description'}" />
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="inputSearchTerm">SearchTerm</label>
	<div class="controls">
		<f:form.textfield property="searchTerm" id="imputSearchTerm" additionalAttributes="{placeholder:'SearchTerm'}" />
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="inputSearchDomain">SearchDomain</label>
	<div class="controls">
		<f:form.textfield property="searchDomain" id="imputSearchDomain" additionalAttributes="{placeholder:'SearchDomain'}" />
	</div>
</div>