<table class="tx-tc-dsf-booking" >
	<tr>
		<td>
			<f:translate key="tx_tcdsfbooking_domain_model_booking.purpose" />
		</td>
		<td>
			{booking.purpose}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tcdsfbooking_domain_model_booking.start" />
		</td>
		<td>
			{booking.start -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tcdsfbooking_domain_model_booking.end" />
		</td>
		<td>
			{booking.end -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tcdsfbooking_domain_model_booking.paying" />
		</td>
		<td>
			{booking.paying}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tcdsfbooking_domain_model_booking.amount" />
		</td>
		<td>
			{booking.amount}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tcdsfbooking_domain_model_booking.status" />
		</td>
		<td>
			{booking.status}
		</td>
	</tr>
</table>