<f:layout name="Default" />

<f:section name="Title">Index view of Standard controller</f:section>

<f:section name="Header">
</f:section>

<f:section name="Footer">
</f:section>

<f:section name="Content">



	<div class="container">
		<div class="row">
			<div class="span3">
				<div class="well sidebar-nav">
					<ul id="external-events" class="nav nav-list">
						<li class="nav-header">Sidebar</li>
						<li class="active"><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li class="nav-header">Sidebar</li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li class="nav-header">Sidebar</li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
					</ul>
				</div>
				<!--/.well -->
			</div>
			<div class="span9">
				<f:render partial="FlashMessages" />
				
				<h1>
					<f:render section="Title" />
				</h1>
				<div id='calendar'></div>
			</div>
		</div>
	</div>
	<!-- /container -->







</f:section>